/*---------------------------------
	IMPORTS
-----------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);*/

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight:normal;
    text-shadow:  2px  2px 2px #fff,
    2px -2px 2px #fff,
    -2px  2px 2px #fff,
    -2px -2px 2px #fff;
    color: black;
}

thead th,
tbody th{
    font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
    font-family: "Arimo", arial, verdana, sans-serif;
    border:1px solid #ccc;
}

.menu li {
    font-size: 16px;
    font-weight: bold;
}

.menu li a:hover,
.menu li.hover>a{
    color: rgb(122,188,255);
}

.menu div {
    font-size: 14px;
    font-weight: normal;
}

blockquote{
    font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
    margin:0;
    padding:0 0 0 0;
    color:#000;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#footer{
    text-align:center;
    padding:15px;
    margin:0;
    border-top:5px solid rgb(122,188,255);
    color:#999;
    font-size:0.8em;
    text-shadow:0px 1px 1px #fff;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background:#fff;
}

#link-top{
    display:none;
}

/* Login Div */
div.login {
    padding: 8px;
    border-left: 1px solid #ccc;
}

/* Content Div */
div.content{
    margin-bottom: 100px;

}

div.content_header {
    border-bottom: 1px solid #DDD;
}

div.search {
    margin-top: 100px;
    text-align: center;
}

div.content_container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid rgb(122,188,255);
    padding: 20px;
    padding-top: 5px;
}

div.edit_album{
    text-align: center;
    font-size: 16px;
}

div.edit_album_cover{
    text-align: center;
}

div.searchResult{
    text-align: center;
    font-size: 16px;
}

div.search_noResult{
    font-size: 16px;
    color: red;
}

/*---------------------------------
	FORM STYLES
-----------------------------------*/

span.search_input{
    font-size: 24px;
}

input.button_search{
    margin-left: 5px;
    margin-bottom: 5px;
}

input.button_add{
    margin: 15px;
}

input.logout_button{
    font-size:0.8em;
    padding: 5px 10px;
    margin-left: 10px;
}

input.navigationbar_username{
    margin-left: 5px;
    margin-right: 5px;
}

input.navigationbar_password{
    margin-right: 5px;
}

/*---------------------------------
    LINK STYLES
-----------------------------------*/

a.delete_link{
    margin-left: 10px;
}


/*---------------------------------
	IMAGES STYLES
-----------------------------------*/

img.album_cover_big{
    width: 300px;
    border: 3px solid #777;
}

img.album_cover_small{
    width: 150px;
    border: 2px solid #777;
}


/*---------------------------------
	TAB STYLES
-----------------------------------*/

ul.tabs li a{
    font-size: 16px;
    font-weight: bold;
}

/*---------------------------------
	TABLE STYLES
-----------------------------------*/

table.form td{
    border: 0px;
}

